[submodule "themes/startbootstrap-clean-blog"]
	path = themes/startbootstrap-clean-blog
	url = git@github.com:holygrolli/startbootstrap-clean-blog.git
[submodule "themes/blomp"]
	path = themes/blomp
	url = git@github.com:holygrolli/hugo-blomp.git
